/* container */
.container{
    margin-bottom: 50px;
}

/* navbar section */
.text-gray a {
    font-weight: bold;
    margin-left: 20px;
}
/* main div */
.main-div {
    background-image: url(all-images/bg-2.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: bottom;
}
/* carousel section */

.carousel-item {
    padding: 20px 50px;
}
.buy-now {
    background-color: black;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
}

/* smartphone and see all section */
.smartphone-section {
    padding: 0px 50px;
}
.smartphone-section div {
    font-weight: bold;
}

/* smartphone section */
.card {
    border: none;
    box-shadow: 8px 8px 12px rgb(233, 240, 240);
}
.card-body,h5,p {
    text-align: center;
    padding-top: 10px;
}
.card-footer {
    border: none;
    background-color: white;
}

/* categories section */
/* .categories {
    text-align: center;
    font-weight: bold;
   
} */
.text-border {
 padding-bottom: 5px;
 border-bottom: 4px inset orange;
 border-bottom-left-radius: 3px;
 border-bottom-right-radius: 3px;
 border-width: 5px;
}

/* categories section */
.col-md-5 img {
    /* background-image: url(all-images/Categories/pale-order.png);
    background-size: cover; */
    width: 600px;
    height: 600px;
}
/* .tenson img h3{
    margin-left: -200px;
}
.col-md-2, .col-md-3 {
    background-color: red;
} */
.one {
    padding-right: 30px;
    padding-top: 80px;
    
}
.col-md-3 {
    display: inline-block;
}
#tony {
    padding: 40px;
}
#dony {
    padding-left: 60px;
    font-weight: bold;
    background-color: rgb(248, 249, 250);
}
.rony {
    background-color: rgb(248, 249, 250);
}


.col-md-2 {
   padding-bottom: 20px;
}
